{% extends 'base.twig' %}

{% block content %}
  <div class="about">
    {% include 'pages/about/header.twig' %}
    {% include 'pages/about/awards.twig' %}
    {% include 'pages/about/story.twig' %}
    {% include 'pages/about/complexity.twig' %}
    {% include 'pages/about/team.twig' %}
    {% include 'pages/about/essence.twig' %}
    {% include 'pages/about/globally.twig' %}
    {% include 'pages/about/know.twig' %}
    {% include 'pages/about/contact.twig' %}
    {% include 'pages/about/daily.twig' %}

    {% include 'shared/footer.twig' %}
  </div>
{% endblock %}
