{% extends 'base.twig' %}

{% block content %}
  <div class="custompostarchive">

     {{ function('do_shortcode', '[elementor-template id="8153"]') }}

    {% include 'shared/footer.twig' %}
  </div>
{% endblock %}