{% extends 'base.twig' %}

{% block content %}
  <div class="blog">
    {% include 'pages/blog/header.twig' %}
    {% include 'pages/blog/list.twig' %}

    {% include 'shared/footer.twig' %}
  </div>
{% endblock %}
