{% extends 'base.twig' %}

{% block content %}
  <div class="clients">
    {% include 'pages/clients/header.twig' %}
    {% include 'pages/clients/testimonials.twig' %}
    {% include 'pages/clients/highlights.twig' %}
    {% include 'pages/clients/customers.twig' %}
    {% include 'pages/clients/collaboration.twig' %}
    {% include 'pages/clients/product.twig' %}
    {% include 'pages/clients/cases.twig' %}
    {% include 'pages/clients/clients.twig' %}

    {% include 'shared/footer.twig' %}
  </div>
{% endblock %}
