{% extends 'base.twig' %}

{% block content %}
  <div class="home">
    {% include 'pages/home/header.twig' %}
    {% include 'pages/home/brands.twig' %}
    {% include 'pages/home/complexity.twig' %}
    {% include 'pages/home/industries.twig' %}
    {% include 'pages/home/approach.twig' %}
    {% include 'pages/home/topic.twig' %}
    {% include 'pages/home/partners.twig' %}
    {% include 'pages/home/product.twig' %}
    {% include 'pages/home/services.twig' %}
    {% include 'pages/home/videos.twig' %}
    {% include 'pages/home/cases.twig' %}

    {% include 'shared/footer.twig' %}
  </div>
{% endblock %}
