{% extends 'base.twig' %}

{% block content %}
  <div class="custompostarchive">
   
    {{ function('do_shortcode', '[elementor-template id="8187"]') }}
    
    <div class="search_result_name">
    <h3> Showing Search Results for <span style="font-weight: 700;"> {{ function('get_search_query') }} </span> </h3>
    </div>

    {{ function('do_shortcode', '[elementor-template id="8090"]') }}

    {% include 'shared/footer.twig' %}
  </div>
{% endblock %}