{% extends 'base.twig' %}

{% block content %}
  <div class="videos">
    {% include 'pages/videos/header.twig' %}
    {% include 'pages/videos/brands.twig' %}

    <div class="videos__columns">
      <div class="videos__column">
        {% include 'pages/videos/know.twig' %}
        {% include 'pages/videos/clients.twig' %}
        {% include 'pages/videos/questions.twig' %}
      </div>

      <div class="videos__column">
        {% include 'pages/videos/testimonial.twig' %}
        {% include 'pages/videos/articles.twig' %}
      </div>
    </div>

    {% include 'shared/footer.twig' %}
  </div>
{% endblock %}
