.home__cases {
  padding: 15rem 0;

  @include media('<small') {
    padding: 5rem 0;
  }
}
.home__cases__title {
  @extend %title__medium;
  text-align: center;
  margin: auto;
  margin-bottom: 8rem;
}
.home__cases__wrapper {
  @extend %wrapper;
}

.home__cases__columns {
  display: table;
  width: 100%;

  @include media('<small') {
    display: block;
  }
}

.home__cases__column {
  display: table-cell;
  vertical-align: middle;
  width: 50%;

  @include media('<small') {
    display: block;
    width: 100%;

    &:first-child {
      display: none;
    }
  }
}

.home__cases__list {
  margin: 4rem auto 0;
  @extend %list;

  margin-bottom: 10rem;

  @include media('<small') {
    margin-bottom: 5rem;
    margin-top: 0;
  }
}

.home__cases__item {
  @extend %list__item;

  @include media('<small') {
    width: 80vw;
  }
}

.home__cases__item__wrapper {
  @extend %list__item__wrapper;
}

.home__cases__item__box {
  @extend %list__item__box;
}

.home__cases__item__image {
  @extend %list__item__image;
}

.home__cases__item__content {
  @extend %list__item__content;
}

.home__cases__item__title {
  @extend %list__item__title;
}

.home__cases__item__description {
  @extend %list__item__description;
}

.home__cases__item__link {
  @extend %list__item__link;
}

.home__cases__item__link__text {
  @extend %list__item__link__text;
}

.home__cases__item__link__arrow {
  @extend %list__item__link__arrow;
}

.home__cases__button {
  display: block;
  margin: auto;
  position: relative;
  width: 40rem;

  [lang="de"] & {
    width: 50rem;
  }

  &:last-child {
    margin-top: 3rem;
  }

  @include media('<small') {
    width: 100%;

    [lang="de"] & {
      width: 100%;
    }

    &:last-child {
      margin-top: 1.5rem;
    }
  }
}

.home__cases__button__box {
  @extend %button__box;

  border: 1px solid $color-deep-koamaru;

  .home__cases__button--services & {
    background: $color-deep-koamaru;
    color: $color-white;
  }

  .home__cases__button--pricing & {
    background: $color-white;
    color: $color-deep-koamaru;
    display: none;
  }

  .home__cases__button:hover & {
    @extend %button__box--hover;
  }
}

.home__cases__button__background {
  @extend %button__background;

  box-shadow: 0.4rem 0.4rem 0 $color-candlelight;
}
