.home__aside__newsletter {
  background: $color-candlelight;
  padding: 6.5rem 0;
  position: relative;
  width: 100%;

  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }

  @include media('<small') {
    display: none;
  }
}

.home__aside__newsletter__wrapper {
  @extend %wrapper;

  display: table;
}

.home__aside__newsletter__column {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 50%;
}

.home__aside__newsletter__title {
  @extend %title__large;

  display: inline-block;
  text-align: left;
  width: 52rem;
}

.home__aside__newsletter__form {
  display: inline-block;
  text-align: left;
}

.home__aside__newsletter__input {
  background: $color-white;
  border: 1px solid $color-deep-koamaru;
  font-family: $font-work-sans;
  font-size: 2.2rem;
  height: 5rem;
  padding: 0 1rem;
  width: 57rem;
}

.home__aside__newsletter__button {
  @extend %button;

  margin-top: 2.5rem;
}

.home__aside__newsletter__button__box {
  @extend %button__box;

  background: $color-candlelight;
  border-color: $color-deep-koamaru;
  color: $color-deep-koamaru;

  .home__aside__newsletter__button:hover & {
    @extend %button__box--hover;
  }
}

.home__aside__newsletter__button__background {
  @extend %button__background;

  box-shadow: 0.4rem 0.4rem 0 $color-deep-koamaru;
}
