.about__awards {
  padding: 15rem 0;
  text-align: center;

  @include media('<small') {
    padding: 5rem 0;
  }
}

.about__awards__wrapper {
  @extend %wrapper;
}

.about__awards__title {
  @extend %title__medium;

  margin-bottom: 5rem;

  @include media('<small') {
    margin-bottom: 2.5rem;
  }
}

.about__awards__list {
  font-size: 0;
  margin: 0 -2rem;
  text-align: center;

  @include media('<small') {
    margin: -1.5rem;
  }
}

.about__awards__item {
  display: inline-block;
  padding: 0 2rem;
  vertical-align: middle;
  width: 20%;

  @include media('<small') {
    padding: 1.5rem;
    width: 33.33%;
  }
}
