.about__know {
  background: $color-spring-wood;
  padding: 15rem 0;

  @include media('<small') {
    padding: 5rem 0;
  }
}

.about__know__wrapper {
  @extend %wrapper;
}

.about__know__header {
  margin: auto;
  max-width: 77rem;
  text-align: center;
}

.about__know__title {
  @extend %title__medium;
}

.about__know__description {
  @extend %description__medium;

  margin-top: 4rem;

  @include media('<small') {
    margin-top: 1.5rem;
  }
}

.about__know__list {
  @extend %list;

  margin-top: 10rem;

  @include media('<small') {
    margin-top: 5rem;
  }
}

.about__know__item {
  @extend %list__item;
}

.about__know__item__wrapper {
  @extend %list__item__wrapper;
}

.about__know__item__box {
  @extend %list__item__box;
}

.about__know__item__image {
  @extend %list__item__image;
}

.about__know__item__content {
  @extend %list__item__content;
}

.about__know__item__title {
  @extend %list__item__title;
}

.about__know__item__description {
  @extend %list__item__description;
}

.about__know__item__link {
  @extend %list__item__link;
}

.about__know__item__link__text {
  @extend %list__item__link__text;
}

.about__know__item__link__arrow {
  @extend %list__item__link__arrow;
}
