.about__team {
  padding: 15rem 0;
  position: relative;
  text-align: center;
  z-index: 2;

  @include media('<small') {
    padding: 5rem 0;
  }
}

.about__team__wrapper {
  @extend %wrapper;
}

.about__team__header {
  margin: auto;
  max-width: 60rem;
}

.about__team__title {
  @extend %title__medium;
}

.about__team__description {
  @extend %description__medium;

  margin-top: 4rem;

  @include media('<small') {
    margin-top: 1.5rem;
  }
}

.about__team__list {
  font-size: 0;
  margin-bottom: -5rem;
  margin-top: 10rem;
  text-align: left;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.25rem;
  @include media('<small') {
    margin-bottom: -2.5rem;
    margin-top: 3.5rem;
    grid-template-columns: 1fr 1fr;
  }
}

.about__team__item {
  cursor: pointer;
  display: inline-block;
  // margin-bottom: 5rem;
  position: relative;
  vertical-align: top;
  width: 100%;
  z-index: 1;

  &--active {
    z-index: 2;
    .about__team__article__wrapper{
      opacity: 1;
      pointer-events: initial;
    }
  }

  @include media('<small') {
    // margin-bottom: 2.5rem;
    width: 100%;
  }
  &:hover{
    .about__team__item__content__more{
      transform: scale(1);
      opacity: 1;
      &:before{
        transform: translate(-50%, -50%) scale(1);
        opacity:1;
      }
      &:after{
        transform: translate(-50%,-50%) rotate(90deg) scale(1);
        opacity:1;
      }
    }
  }
}

.about__team__item__media {
  // border: 0.4rem solid $color-candlelight;
  // border-radius: 50%;
  height: 36rem;
  margin: auto;
  overflow: hidden;
  pointer-events: none;
  position: relative;
  // width: 14rem;

  @include media('<small') {
    height: 10rem;
    width: 10rem;
  }
}

.about__team__item__image {
  // border-radius: 50%;
  // filter: grayscale(1);
  height: 100%;
  width: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  transition: filter 0.4s ease;
  width: 100%;

  .about__team__item:hover &  {
    filter: grayscale(0);
  }
}

.about__team__item__content {
  pointer-events: none;
  background:$color-deep-koamaru;
  color:$color-white;
  padding: 2.5rem;

  @include media('<small') {
  }
}

.about__team__item__title {
  @extend %title__32;
  
  // font-weight: 600;
}

.about__team__item__description {
  @extend %description__16;
  font-weight: 600;
  margin-bottom: 0.5rem;
  @include media('<small') {
    margin-top: 0;
  }
}
.about__team__article__wrapper{
  
  
  position: fixed;
  pointer-events: none;
  top:0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
  opacity: 0;
  transition: 500ms ease-out;
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.about__team__article {
  position: relative;
  background: $color-spring-wood;
  box-shadow: 0.4rem 0.4rem 0 $color-candlelight;
  cursor: default;
  left: 0;
  opacity: 0;
  pointer-events: none;
  text-align: left;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  visibility: hidden;
  display:grid;
  grid-template-columns: 0.8fr 1fr;
  width: 80%;
  max-width: 1000px;
  height: 100%;
  max-height: 60%;
  .about__team__item:nth-child(5n) & {
    left: auto;
    right: 0;
    top: 0;
  }

  .about__team__item--active & {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    
  }

  @include media('<small') {
    grid-template-columns: initial;
    grid-template-rows: 200px auto;
    .about__team__item:nth-child(2n) & {
      left: auto;
      right: 0;
      top: 0;
    }

    .about__team__item:nth-child(5n) & {
      left: 0;
      right: auto;
      top: 0;
    }
  }
  
}
.about__team__article__member__content{
  overflow-y: auto;
  position: relative;
  margin-right: -1rem;
  padding-right: 1rem;
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
    z-index:1;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    z-index:1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    z-index:1;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
.about__team__article__columns {
  display: flex;
  margin: 0px;
  width: 100%;
  height: 100%;

  @include media('<small') {
    padding: 0 2.5rem;
    text-align: center;
    width: 100%;
  }
}

.about__team__article__column {
  // display: table-cell;
  // vertical-align: middle;
  width: 100%;
  &:last-child {
    // padding-left: 2.5rem;
  }

  @include media('<small') {
    display: block;

    &:last-child {
      padding-left: 0;
      padding-top: 2.5rem;
    }
  }
}

.about__team__article__media {
  // border-radius: 50%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include media('<small') {
    margin: auto;
  }
}

.about__team__article__media__image {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.about__team__article__title {
  @extend %title__32;
}

.about__team__article__description {
  font-family: $font-work-sans;
  font-size: 1.5rem;
  line-height: 1.8;
  margin-top: 1rem;
  font-weight: 600;
}

.about__team__article__emojis {
  font-size: 3rem;
  margin-top: 1rem !important;
  margin-bottom: 1rem;
}

.about__team__article__content {
  color: $color-body;
  @extend %content;
  @extend %description__medium;

  font-size: 1.6rem;
  padding:3rem 5rem 10rem 3rem;
  width: 100%;

  @include media('<small') {
    padding: 0 2.5rem;
    width: 100%;
  }
  &:before {
    background-image: url('../images/team-article-illustration.svg');
    background-size: 250px;
    width: 250px;
    height: 250px;
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: 90px 100px;
  }
  .about__team__article__column,p{
    z-index: 1;
    position:relative;
  }

  display:flex;
  flex-direction: column;
  overflow:hidden;
}

.about__team__article__close {
  font-size: 0;
  height: 6rem;
  pointer-events: all;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 6rem;
  margin:1rem;
  &:before,
  &:after {
    border-top: 1px solid $color-black;
    content: '';
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 50%;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
.about__team__item__content__more{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: $color-white;
  position: absolute;
  right:0px;
  bottom:0px;
  margin: 2.5rem;
  opacity: 0;
  transform: scale(0.5);
  transition: 400ms cubic-bezier(.92,.01,.53,1.44);
  &:before, &:after{
    border-top: 2px solid $color-candlelight;
    content: '';
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 65%;
    transition: 600ms cubic-bezier(.92,.01,.53,1.44);
    opacity: 0;
  }
  &:before{
    transform: translate(-50%, -50%) scale(0.5);
  }
  &:after{
    transform: translate(-50%,-50%) rotate(90deg) scale(0.5);
  }
}