<section class="home__brands">
  <div class="home__brands__wrapper">
    <h2 class="home__brands__title">
      {{ post.get_field('brands_title') }}
    </h2>

    <ul class="home__brands__list">
      {% for brand in option['logos'] %}
        {% if brand.featured %}
          <li class="home__brands__item">
            <div class="home__brands__item__wrapper">
              <img class="home__brands__image" data-src="{{ brand.image }}">
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
