{% extends 'base.twig' %}

{% block content %}
  <div class="contract">
    {% include 'pages/contract/header.twig' %}
    {% include 'pages/contract/content.twig' %}

    {% include 'shared/footer.twig' %}
  </div>
{% endblock %}
