{% extends 'base.twig' %}

{% block content %}
  <div class="custompostarchive">
    {% include 'pages/customPostArchive/header.twig' %}
   {{ abcd }}
    {% include 'shared/footer.twig' %}
  </div>
{% endblock %}