{% extends 'base.twig' %}

{% block content %}
  <div class="how">
    {% include 'pages/how/header.twig' %}
    {% include 'pages/how/highlights.twig' %}
    {% include 'pages/how/secret.twig' %}

    {% include 'pages/how/steps-mobile.twig' %}
    {% include 'pages/how/steps-desktop-1.twig' %}

    {% include 'pages/how/testimonials-mobile.twig' %}
    {% include 'pages/how/testimonials-desktop-1.twig' %}

    {% include 'pages/how/topic.twig' %}

    {% include 'pages/how/steps-desktop-2.twig' %}
    {% include 'pages/how/testimonials-desktop-2.twig' %}

    {% include 'pages/how/product.twig' %}
    {% include 'pages/how/expectations.twig' %}
    {% include 'shared/footer.twig' %}
  </div>
{% endblock %}
