{% extends 'base.twig' %}

{% block content %}
  <div class="industry">
    {% include 'pages/industry/header.twig' %}
    {% include 'pages/industry/about.twig' %}
    {% include 'pages/industry/topics.twig' %}
    {% include 'pages/industry/brands.twig' %}
    {% include 'pages/industry/archive.twig' %}

    {% include 'shared/footer.twig' %}
  </div>
{% endblock %}
