{% extends 'base.twig' %}

{% block content %}
  <div class="jobs">
    {% include 'pages/jobs/header.twig' %}
    {% include 'pages/jobs/about.twig' %}

    {% include 'shared/footer.twig' %}
  </div>
{% endblock %}
