{% extends 'base.twig' %}

{% block content %}
  <div class="services">
    {% include 'pages/services/header.twig' %}
    {% include 'pages/services/core.twig' %}
    {% include 'pages/services/newsletter.twig' %}
    {% include 'pages/services/sections.twig' %}
    {% include 'pages/services/blog.twig' %}
    {% include 'pages/services/approach.twig' %}
    {% include 'pages/services/clients.twig' %}

    {% include 'shared/footer.twig' %}
  </div>
{% endblock %}
