{% extends 'base.twig' %}

{% block content %}
  <div class="service">
    {% include 'pages/service/header.twig' %}
    {% include 'pages/service/brands.twig' %}
    {% include 'pages/service/know.twig' %}
    {% include 'pages/service/fields.twig' %}
    {% include 'pages/service/highlight.twig' %}
    {% include 'pages/service/cases.twig' %}
    {% include 'pages/service/buttons.twig' %}
    {% include 'pages/service/testimonials.twig' %}
    {% include 'pages/service/video.twig' %}
    {% include 'pages/service/about.twig' %}
    {% include 'pages/service/blog.twig' %}
    {% include 'pages/service/questions.twig' %}
    {% include 'pages/service/newsletter.twig' %}
    {% include 'pages/service/articles.twig' %}

    {% include 'shared/footer.twig' %}
  </div>
{% endblock %}
