{% extends 'base.twig' %}

{% block content %}
  <div class="videos-question">
    {% include 'pages/videos-question/question.twig' %}
    {% include 'pages/videos-question/archive.twig' %}

    {% include 'shared/footer.twig' %}
  </div>
{% endblock %}
