{% if isDesktop or isTablet %}
  {% for step in post.get_field('steps') %}
    {% if loop.index0 >= 3 %}
      <section class="how__step how__step--{{ loop.index }}">
        <div class="how__step__wrapper">
          <div class="how__step__column">
            <img class="how__step__image" data-src="{{ step.image }}">
          </div>

          <div class="how__step__column">
            <h2 class="how__step__title">
              {{ step.title }}
            </h2>

            <p class="how__step__description">
              {{ step.description }}
            </p>
          </div>
        </div>
      </section>
    {% endif %}
  {% endfor %}
{% endif %}
