.clients__header {
  @extend %header;

  background: $color-candlelight;
  padding-bottom: 5rem;
}

.clients__header__wrapper {
  @extend %header__wrapper;
}

.clients__header__title {
  @extend %header__title;
}

.clients__header__description {
  @extend %header__description;

  max-width: 64rem;
}

.clients__header__illustration {
  @extend %header__illustration;
}
