%clients {
  padding: 15rem 0;

  @include media('<small') {
    padding: 5rem 0;
  }
}

%clients__wrapper {
  @extend %wrapper;
}

%clients__header {
  margin: 0 auto 10rem;
  max-width: 60rem;
  text-align: center;

  @include media('<small') {
    margin-bottom: 3.5rem;
  }
}

%clients__title {
  @extend %title__medium;
}

%clients__description {
  @extend %description__medium;

  margin-top: 4rem;

  @include media('<small') {
    margin-top: 1.5rem;
  }
}

%clients__list {
  font-size: 0;
  margin-bottom: -3rem;
  margin-left: -3rem;
  margin-right: -3rem;
  margin-top: -3rem;
  text-align: center;

  @include media('<small') {
    margin: -1.5rem;
  }
}

%clients__item {
  display: inline-block;
  padding: 3rem;
  vertical-align: middle;
  width: 20%;

  @include media('<small') {
    padding: 1.5rem;
    width: 25%;
  }
}
