%content {
  a {
    text-decoration: underline;
  }

  b,
  strong {
    font-weight: bold;
  }

  li:not(:first-child) {
    margin-top: 2.5rem;
  }

  ol,
  ul {
    margin-top: 2.5rem;
    padding-left: 1em;
  }

  p:not(:first-child) {
    margin-top: 2.5rem;
  }
}
