%testimonials {
  padding-bottom: 6.5rem;
  position: relative;
  white-space: nowrap;

  span {
    display: inline-block;
    vertical-align: top;
  }

  @include media('<small') {
    margin-top: 0;
    padding-bottom: 0;
    position: static;
  }
}

%testimonials__wrapper {
  height: 40.6rem;
  position: relative;

  @include media('<small') {
    display: inline-block;
    font-size: 0;
    height: auto;
    white-space: nowrap;
  }
}

%testimonial {
  display: inline-block;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  width: 100%;

  @include media('<small') {
    display: inline-block;
    opacity: 1;
    position: static;
    vertical-align: top;
    visibility: visible;
    white-space: normal;
    width: 100vw;
  }
}

%testimonial__wrapper {
  display: table;
  height: 40.6rem;
  width: 100%;

  @include media('<small') {
    display: block;
    height: auto;
    padding: 0 4.5vw;
    text-align: center;
  }
}

%testimonial__media {
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 40.6rem;

  &:after {
    background-image: url('../images/dots-black.svg');
    background-size: 23.1rem;
    bottom: -2.5rem;
    content: '';
    height: 30rem;
    left: 13rem;
    position: absolute;
    width: 30rem;
  }

  @include media('<small') {
    display: block;
    width: 100%;

    &:after {
      display: none;
    }
  }
}

%testimonial__media__image {
  border-radius: 50%;
  height: 33rem;
  object-fit: cover;
  position: relative;
  width: 33rem;
  z-index: 1;

  @include media('<small') {
    height: 19rem;
    width: 19rem;
  }
}

%testimonial__content {
  display: table-cell;
  vertical-align: middle;
  font-family: $font-work-sans;

  &:first-child {
    padding-right: 14rem;
  }

  &:last-child {
    padding-left: 14rem;
  }

  @include media('<small') {
    &:first-child {
      padding-right: 0;
    }

    &:last-child {
      padding-left: 0;
    }
  }
}

%testimonial__description {
  font-size: 3.2rem;
  line-height: 1.2;
  max-width: 58rem;
  white-space: normal;

  @include media('<small') {
    font-size: 1.4rem;
    margin-top: 2.5rem;
  }
}

%testimonial__author {
  display: table;
  font-size: 1.8rem;
  margin-top: 3rem;
  width: 100%;

  @include media('<small') {
    display: flex;
    font-size: 1.4rem;
    flex-direction: column-reverse;
    margin-top: 1.5rem;
  }
}

%testimonial__author__column {
  display: table-cell;
  vertical-align: middle;
  white-space: normal;

  &:first-child {
    width: 65%;
  }

  &:last-child {
    text-align: right;
    width: 35%;
  }

  @include media('<small') {
    display: block;

    &:first-child {
      width: 100%;
    }

    &:last-child {
      text-align: center;
      width: 100%;
    }
  }
}

%testimonial__author__title {
  display: block;
  font-weight: bold;
}

%testimonial__author__description {
  max-width: 40rem;
}

%testimonial__author__image {
  max-width: 20rem;

  @include media('<small') {
    margin-bottom: 1.5rem;
  }
}

%testimonials__pagination {
  bottom: 0;
  font-size: 0;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);

  @include media('<small') {
    margin-top: 2.5rem;
    position: static;
    transform: none;
  }
}

%testimonials__pagination__button {
  font-size: 0;
  height: 6.4rem;
  position: relative;
  width: 4rem;

  &:after {
    background: $color-deep-koamaru;
    border-radius: 50%;
    height: 1.4rem;
    content: '';
    display: block;
    left: 50%;
    opacity: 0.6;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.4s ease;
    width: 1.4rem;
  }

  &--active {
    &:after {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.2);
    }
  }

  @include media('<small') {
    height: 4rem;
  }
}

%testimonials__navigation {
  bottom: 0;
  font-size: 0;
  position: absolute;
  right: 0;

  @include media('<small') {
    display: none;
  }
}

%testimonials__navigation__button {
  background: $color-ecstasy;
  font-size: 0;
  height: 6.4rem;
  position: relative;
  width: 6.4rem;

  &:not(:first-child) {
    margin-left: 0.75rem;
  }

  &:before {
    border-color: $color-white;
    border-style: solid;
    content: '';
    display: block;
    height: 2rem;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 2rem;
  }

  &--next {
    &:before {
      border-width: 2px 2px 0 0;
      transform: translate(-75%, -50%) rotate(45deg);
    }
  }

  &--previous {
    &:before {
      border-width: 0 0 2px 2px;
      transform: translate(-25%, -50%) rotate(45deg);
    }
  }
}
