<section class="jobs__about">
  <div class="jobs__about__wrapper">
    <div class="jobs__about__content">
      {{ post.get_field('about_content') }}
    </div>

    <footer class="jobs__about__footer">
      <a class="jobs__about__button" href="{{ post.get_field('about_button').url }}" rel="noopener" target="_blank">
        <div class="jobs__about__button__background"></div>

        <div class="jobs__about__button__box">
          {{ post.get_field('about_button').title }}
        </div>
      </a>
    </footer>
  </div>
</section>
