$color-blue: #394EFF;
$color-grey: #BDBDBD;
$color-darkgrey:#828282;
$color-text-primary:#3D3D3D;
$spacing-ui: 5rem;
::-webkit-scrollbar {
    width: 0.25rem;
}

::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: $color-blue;
}

@mixin sectionPadding{
    padding:$spacing-ui;
    box-sizing: border-box;
}


body{
    font-family: 'IBM Plex Sans', sans-serif;
    color:$color-blue;
}
h1{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
h2{
    font-size: 1.1rem;
    font-weight: bold;
}
h3{
    font-weight: bold;
}
a:visited{
    color:$color-blue;
}
.grey{
    color:$color-grey;
}
.uppercase{
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}
.guide__header{
    @include sectionPadding;
    display:flex;
    justify-content: space-between;
    width: 100%;
}
.guide__faq{
    padding:0 $spacing-ui;
    display:flex;
    flex:1;
    padding-bottom: $spacing-ui;
    width:100%;
    height:100%;
    box-sizing: border-box;
    .guide__faq__nav{
        flex: 0.3;
        margin-right: 2rem;
        .guide__faq__nav__categories__wrapper{
            height: 100%;
            display:flex;
            flex-direction: column;
            .guide__faq__nav__categories__title{
                transition: 400ms ease-out;
                opacity: 1;
                pointer-events: initial;
                max-height: 500px;
                display:flex;
                align-items: center;
                transition: 200ms ease-out 100ms;
                margin-bottom: 2rem;
                &.hidden{
                    opacity: 0;
                    max-height: 0px;
                    margin-bottom: 0rem;
                }
            }
            .guide__faq__nav__categories__container{
                margin-right: -2rem;
                height: 100%;
                flex:1;
                position:relative;
                .guide__faq__nav__categorie{
                    max-height: 500px;
                    overflow-y: hidden;
                    opacity: 1;
                    transition: 200ms ease-out 100ms;
                    position: relative;
                    
                    .guide__faq__nav__categorie__title{
                        cursor: pointer;
                        position: relative;
                        padding:1rem;
                        display:flex;
                        z-index:9;
                        h2,p{
                            font-size: 1.1rem;
                        }
                        i,h2,p{
                            transition: 200ms ease-out;
                        }
                        &:after{
                            content:'';
                            background-image: url('../img/chevron_left.svg');
                            background-position: center;
                            background-size: 100%;
                            display:block;
                            position: absolute;
                            width: 1rem;
                            height: 1rem;
                            opacity: 0;
                        }
                        &:not(:first-child){
                            margin-top: 0.5rem;
                        }
                        i{
                            position: absolute;
                        }
                        h2,p{
                            margin-left: 2rem;
                            font-weight: bold;
                            line-height: 1.2;
                        }
                    }
                    &.hidden{
                        transition: 200ms ease-out 0ms;
                        max-height:0px;
                        opacity: 0;
                        pointer-events: none;
                    }
                    &.active{
                        max-height: 1000px;
                        height:100%;
                        transition: 200ms ease-out 0ms;
                        .guide__faq__nav__categorie__questions__container{
                                max-height: 1000px;
                                transition: 100ms ease-out 220ms;
                                overflow-y: hidden;
                                height:100%;
                                ul{
                                    position: absolute;
                                    height: 90%;
                                    overflow-y:auto;
                                    
                                }
                        }
                        .guide__faq__nav__categorie__title{
                            background:white;
                            position:sticky;
                            top:0px;
                            i,h2,p{
                                transform:translate(1rem,0);
                                margin-right: 1rem;
                            }
                            &:after{
                                opacity: 1;
                            }
                        }
                    }
                    .guide__faq__nav__categorie__questions__container{
                        max-height: 0px;
                        height:100%;
                        overflow: hidden;
                        transition: 100ms ease-out 0ms;
                        h2{
                            margin-left: 3rem;
                            margin-top: 0.5rem;
                            margin-bottom: 0.5rem;
                            font-size: 0.8rem;
                            color:$color-darkgrey;
                            pointer-events: none;
                        }
                        ul{
                            counter-reset: l;
                            li{
                                position: relative;
                                
                                h3{
                                    line-height: 120%;
                                    font-weight: normal;
                                }
                                &:hover{
                                    background: fade-out($color-blue,0.75);
                                }
                                &:before{
                                    counter-increment: l;
                                    content: counter(l) ".";
                                    position: absolute;
                                    left:1rem;
                                    font-weight: 300;
                                    font-size: 0.9rem;
                                }
                                &.active{
                                    // font-weight: bold;
                                    background: $color-blue;
                                    color:white;
                                    &:before{
                                        // font-weight: bold;
                                        background: $color-blue;
                                        color:white;
                                    }
                                }

                                padding:1rem;
                                padding-left: 3rem;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
    .guide__faq__content{
        flex:1;
        .guide__faq__categories__container{
            width: 100%;
            height: 100%;
            display:flex;
            box-sizing: border-box;
            position:relative;
            border-left: 1px solid $color-blue;
            .guide__faq__categorie{
                position:absolute;
                top:0px;
                left:0px;
                width: 100%;
                .guide__faq__categorie__tagline{
                    padding-left: $spacing-ui;
                    opacity: 0;
                    pointer-events: none;
                    max-height: 0px;
                    &.active{
                        opacity: 1;
                        pointer-events: initial;
                        max-height: 200px;
                    }
                    h1,i{
                        font-size: 3.2rem;
                    }
                    h1{
                        margin-top: 1rem;
                        line-height: 110%;
                        position: relative;
                        &:after{
                            margin-top: 2rem;
                            content:'';
                            display:block;
                            position: absolute;
                            width: 210px;
                            height:10px;
                            background: $color-blue;
                        }
                    }
                }
            }
        }
        .guide__faq__categorie__answer__container{
            .guide__faq__categorie__answer{
                pointer-events: none;
                opacity: 0;
                overflow-y:hidden;
                transition:transform 400ms ease-in-out,  opacity 400ms ease-out, overflow-y 400ms step-end;
                max-height: 600px;
                position:absolute;
                padding-left: 5rem;
                transform-origin: top;
                max-width: 650px;

                *{
                    pointer-events: none;
                }
                
                p,li{
                    color:$color-text-primary;
                    line-height: 1.4rem;
                    margin-bottom:4rem;
                    font-size: 1.11rem;
                    letter-spacing: 0.03rem;
                    hyphens: auto;
                }
                ul{
                    list-style-type: circle;
                    margin-top: 1rem;
                    li{
                        margin-bottom: 1rem;
                        margin-left: 2rem;
                    }
                }
                
                h1{
                    color:$color-blue;
                    font-size: 2rem;
                    margin-bottom:2rem;
                    line-height: 2.6rem;
                    letter-spacing: 0.03rem;
                    padding:1rem 0rem;
                }
                h2{
                    font-size: 1.35rem;
                    margin-bottom:1.5rem;
                }
                &.active{
                    overflow-y: auto;
                    pointer-events: initial;
                    opacity: 1;
                    padding-right: 5rem;
                    transform: translate(0%,0%) scale(1,1);
                    *{
                        pointer-events: initial;
                    }
                }
            }
            
        }
        
    }
}
@media screen and (min-width:801px){
    html,body{
        height: 100%;
        width: 100%;
    }
    body{
        display:flex;
        flex-direction: column;
        overflow: hidden;
        touch-action: none;
    }
    .guide__faq__nav__categorie__title{
            
        &:hover{
            background: fade-out($color-blue,0.75);
        }
    }
    .guide__faq__content__button__container{
        display:none;
    }
}
@media screen  and (max-width:800px){
    html,body{
        height: 100%;
        width: 100%;
        touch-action: none;
    }
    body{
        display:flex;
        flex-direction: column;
        overflow: hidden;
        touch-action: none;
    }
    $spacing-ui : 0.5rem;
    @mixin sectionPadding{
        padding:$spacing-ui;
    }
    .guide__header{
        @include sectionPadding;
        .guide__header__title{
            h1{
                font-size: 1.8rem;
            }
            h3{
                font-size: 0.8rem;
            }
        }
    }
    .guide__faq{
        width: 100%;
        height:100%;
        padding:0;
        flex-direction: column;
        overflow:hidden;
        box-sizing: border-box;
        .guide__faq__nav{
            flex:initial;
            .guide__faq__nav__categories__wrapper{
                .guide__faq__nav__categories__title{
                    font-size: 0.8rem;
                    margin-bottom: 1rem;
                    margin-top: 0.5rem;
                    padding:0rem 0.5rem;
                    p{
                        margin-left: 1.2rem;
                    }
                }
                .guide__faq__nav__categories__container{
                    .guide__faq__nav__categorie{
                        &:nth-child(odd){
                            .guide__faq__nav__categorie__title{
                                background: fade-out($color-blue,0.925);
                            }
                        }
                        &.active{
                            .guide__faq__nav__categorie__questions__container{
                                max-height: 0;
                                overflow:hidden;
                            }
                            .guide__faq__nav__categorie__title{
                                display:flex;
                                align-items: center;
                                height: 3rem;
                                background: fade-out($color-blue,0.75);
                                
                                h2,p{
                                    margin-left: 3.5rem;
                                    margin-right: 2.5rem;
                                }
                                i{
                                    font-size: 2rem;
                                    margin:0rem 0rem 0rem 0.75rem;
                                }
                                &:after{
                                    width:2rem;
                                    height:2rem;
                                }
                            }
                        }
                        .guide__faq__nav__categorie__title{
                            
                            padding:1rem 0.5rem;
                            i{
                                margin-top: 0.2rem;
                            }
                            i,h2,p{
                                font-size: 1rem;
                            }
                            
                            
                        }
                        .guide__faq__nav__categorie__questions__container{
                            display:none;
                            ul{
                                li{
                                    h3{
                                        font-size: 0.8rem;
                                        font-weight: normal;
                                    }
                                    &:before{
                                        font-size: 0.8rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .guide__faq__content{
            height: 100%;
            width: 100%;
            .guide__faq__categories__container{
                
                height: 100%;
                border:none;
                .guide__faq__categorie{
                    pointer-events: none;
                    padding: 1rem 0rem 3rem 0rem;
                    height: 100%;
                    max-height: 100%;
                    overflow-y:auto;
                    box-sizing: border-box;
                    .guide__faq__categorie__tagline{
                        display:none;
                        padding-left: $spacing-ui;
                    }

                    .guide__faq__categorie__answer__container{
                        height: 100%;
                        position: relative;
                        .guide__faq__categorie__answer{
                            height: 100%;
                            padding:0rem 0.5rem;
                            h1{
                                font-size: 1.1rem;
                                line-height: 1.4rem;
                                margin-bottom: 1rem;
                                padding:0rem;
                            }
                            h2{
                                font-size: 0.9rem;
                                margin-bottom: 0.5rem;
                            }
                            ul{
                                margin-top: 0.5rem;
                                
                            }
                            p,li{
                                font-size: 0.9rem;
                                margin-bottom: 1rem;
                            }
                        }
                    }

                }
            }
            .guide__faq__content__button__container{
                opacity: 0;
                pointer-events: none;
                position: fixed;
                left:0px;
                bottom:0px;
                justify-content: space-between;
                width: 100%;
                &.active{
                    opacity: 1;
                    pointer-events: initial;
                    display:flex;
                    
                    div{
                        transform:translate(0%,0%);
                    }
                }
                div{
                    display:flex;
                    align-items: center;
                    padding:1rem;
                    box-sizing: border-box;
                    transform:translate(0%,100%);
                    transition:200ms ease-out;

                }
            }
        }
    }
}
