.services__aside__newsletter {
  background: $color-deep-koamaru;
  color: $color-white;
  padding: 9rem 0;

  @include media('<small') {
    padding: 5rem 0;
  }
}

.services__aside__newsletter__wrapper {
  @extend %wrapper;
}

.services__aside__newsletter__columns {
  display: table;
  width: 100%;

  @include media('<small') {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
}

.services__aside__newsletter__column {
  display: table-cell;
  vertical-align: middle;

  &:nth-child(1) {
    width: 25rem;
  }

  &:nth-child(2) {
    width: 45rem;
  }

  &:nth-child(3) {
    width: calc(100% - 45rem - 25rem);
  }

  @include media('<small') {
    display: inline-flex;

    &:nth-child(1) {
      width: 25%;
    }

    &:nth-child(2) {
      padding-left: 5%;
      width: 75%;
    }

    &:nth-child(3) {
      margin-top: 3.5rem;
      width: 100%;
    }
  }
}

.services__aside__newsletter__title {
  @extend %title__large;

  max-width: 35rem;
}

.services__aside__newsletter__form {
  @include media('<small') {
    width: 100%;
  }
}

.services__aside__newsletter__input {
  border-bottom: 1px solid $color-candlelight;
  color: $color-candlelight;
  display: block;
  font-family: $font-work-sans;
  font-size: 2.2rem;
  max-width: 42.5rem;
  padding-bottom: 1rem;
  transition: border 0.4s ease, color 0.4s ease;
  width: 100%;

  &--error {
    border-bottom-color: $color-razzmatazz;
    color: $color-razzmatazz;
  }

  @include media('<small') {
    font-size: 1.4rem;
  }
}

.services__aside__newsletter__button {
  @extend %button;

  margin-top: 4rem;

  @include media('<small') {
    margin-top: 2.5rem;
    width: 100%;
  }
}

.services__aside__newsletter__button__box {
  @extend %button__box;

  background: $color-deep-koamaru;
  border-color: $color-candlelight;
  color: $color-candlelight;

  .services__aside__newsletter__button:hover & {
    @extend %button__box--hover;
  }
}

.services__aside__newsletter__button__background {
  @extend %button__background;

  box-shadow: 0.4rem 0.4rem 0 $color-candlelight;
}
