<header class="industries__header">
  <div class="industries__header__wrapper">
    <h1 class="industries__header__title">
      {{ post.title }}
    </h1>

    <div class="industries__header__description">
      {{ post.content | striptags }}
    </div>
  </div>

  <img class="industries__header__illustration" data-src="{{ post.get_field('header_background') }}">
</header>
