<aside class="cookies">
  <div class="cookies__wrapper">
    <img class="cookies__image" data-src="{{ option['cookies_image'] }}">

    <p class="cookies__description">
      {{ option[locale ~ '_cookies_description'] }}
    </p>

    <button class="cookies__button">
      <div class="cookies__button__background"></div>

      <div class="cookies__button__box">
        {{ option[locale ~ '_cookies_button'] }}
      </div>
    </button>
  </div>
</aside>
