<section class="service__cases">
  <div class="service__cases__wrapper">
    <div class="service__cases__list">
      {% for article in cases | slice(0, 2) %}
        <article class="service__cases__case">
          <div class="service__cases__case__media">
            <img class="service__cases__case__image" data-src="{{ article.thumbnail.src | resize(800) }}">
          </div>

          <div class="service__cases__case__content">
            <p class="service__cases__case__description">
              {{ article.title }}
            </p>

            <a class="service__cases__case__link" href="{{ article.link }}">
              {{ option[locale ~ '_read_more'] }}
            </a>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
</section>
