<section class="service__fields">
  <div class="service__fields__wrapper">
    <header class="service__fields__header">
      <h2 class="service__fields__title">
        {{ post.get_field('fields_title') }}
      </h2>
    </header>

    <div class="service__fields__list">
      {% for item in post.get_field('fields_list') %}
        <article class="service__fields__item">
          <div class="service__fields__item__box">
            <img class="service__fields__item__image" data-src="{{ item.image }}">

            <div class="service__fields__item__content">
              <h2 class="service__fields__item__title" data-height=".service__fields__item__title">
                {{ item.title }}
              </h2>

              <p class="service__fields__item__description" data-height=".service__fields__item__description">
                {{ item.description }}
              </p>
            </div>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
</section>
