<section class="industry__about">
  <div class="industry__about__wrapper">
    <h2 class="industry__about__title">
      {{ post.get_field('about_title') }}
    </h2>

    <div class="industry__about__description">
      {{ post.get_field('about_description') }}
    </div>
  </div>
</section>
