.service__articles {
  @extend %archive;
}

.service__articles__wrapper {
  @extend %wrapper;
  @extend %archive__wrapper;
}

.service__articles__title {
  @extend %title__medium;
  text-align: center;
  margin-top: 6.5rem;

  @include media("<small") {
    margin-top: 3.5rem;
  }
}

.service__articles__list {
  @extend %archive__list;
}

.service__articles__case {
  @extend %archive__case;
}

.service__articles__case__media {
  @extend %archive__case__media;
}

.service__articles__case__image {
  @extend %archive__case__image;
}

.service__articles__case__content {
  @extend %archive__case__content;
}

.service__articles__case__description {
  @extend %archive__case__description;
}

.service__articles__case__link {
  @extend %archive__case__link;
}
