.service__aside__blog {
  @extend %product;
  background: $color-candlelight;
}

.service__aside__blog__wrapper {
  @extend %product__wrapper;
  padding: 5rem 0;
  @include media("<small") {
    padding: 5rem;
  }
}

.service__aside__blog__column {
  @extend %product__column;
  display: inline-block;

  &:first-child {
    width: 80rem;
    padding-right: 20rem;
    @include media("<small") {
      width: 100%;
      padding-right: 0px;
      padding-bottom: 0px;
    }
  }

  &:nth-child(2) {
    width: calc(100% - 80rem);
    @include media("<small") {
      width: 100%;
    }
  }
}

.service__aside__blog__box {
  @extend %product__box;
  @include media("<small") {
    text-align: center;
  }
}

.service__aside__blog__description {
  @extend %description__medium;
  color: black;
  margin-top: 1.5rem;
}

.service__aside__blog__title {
  @extend %product__title;
  color: black;
  max-width: 100%;
}

.service__aside__blog__button {
  @extend %product__button;
}

.service__aside__blog__button__box {
  @extend %product__button__box;
  background: $color-candlelight;
}

.service__aside__blog__button__background {
  @extend %product__button__background;
  background: $color-candlelight;
}

.service__aside__blog__media {
  width: 100% !important;
}

.service__aside__blog__media__image {
  border-radius: 50%;
  height: 31.4rem;
  margin-left: 2.2rem;
  position: relative;
  width: 31.4rem;
  z-index: 1;

  @include media("<small") {
    height: 19rem;
    margin-left: auto;
    margin-right: auto;
    width: 19rem;
  }
}
