.service__aside__blog {
  @extend %product;
  background: $color-candlelight;
}

.service__aside__blog__wrapper {
  @extend %product__wrapper;
}

.service__aside__blog__column {
  @extend %product__column;
}

.service__aside__blog__box {
  @extend %product__box;
}

.service__aside__blog__description {
  @extend %description__medium;
  color: white;
  margin-top: 1.5rem;
}

.service__aside__blog__title {
  @extend %product__title;
  color: white;
}

.service__aside__blog__button {
  @extend %product__button;
}

.service__aside__blog__button__box {
  @extend %product__button__box;
  background: $color-candlelight;
}

.service__aside__blog__button__background {
  @extend %product__button__background;
  background: $color-candlelight;
}

.service__aside__blog__media {
  @extend %product__media;
}

.service__aside__blog__media__image {
  @extend %product__media__image;
}
