.service__header {
  @extend %header;

  background: $color-spring-wood;

  &.service__header__banner {
    padding-top: 30rem;
    height: 65vh;
    @include media("<small") {
      height: 100vh;
      padding-top: 18rem;
    }
    .service__header__background {
      bottom: 0px;
    }
  }
}

.service__header__media__background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  iframe {
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include media("<small") {
      display: none;
    }
  }
  &:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: $color-candlelight;
    opacity: 0.92;
    display: block;
  }
}

.service__header__background {
  @extend %header__background;
}

.service__header__wrapper {
  @extend %header__wrapper;
}

.service__header__title {
  @extend %header__title;
}

.service__header__description {
  @extend %header__description;

  max-width: 62rem;
}

.service__header__media {
  @extend %header__media;
}

.service__header__media__background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.service__header__media__button {
  @extend %header__media__button;
}

.service__header__media__image {
  @extend %header__media__image;
}

.service__header__button {
  @extend %product__button;
  margin-bottom: 3rem;

  @include media("<small") {
    margin: 2rem 0 4rem 0;
    width: calc(100% - 3rem);
    margin-left: 1.5rem;
  }
}

.service__header__button__box {
  @extend %product__button__box;
  background: $color-candlelight;
}

.service__header__button__background {
  @extend %product__button__background;
  background: $color-candlelight;
}
