.service__highlight {
  color: $color-white;
  margin-top: 10rem;

  @include media("<small") {
    margin-top: 5rem;
  }
}

.service__highlight__wrapper {
  @extend %wrapper;
  background: $color-deep-koamaru;
}

.service__highlight__columns {
  display: table;
  width: 100%;

  @include media("<small") {
    margin: auto;
    width: 80%;
  }
}

.service__highlight__column {
  display: table-cell;
  vertical-align: top;

  &:first-child {
    padding-bottom: 10rem;
    padding-left: 0px;
    padding-right: 12.5rem;
    padding-top: 10rem;
    width: 54.5%;
  }

  &:last-child {
    width: 45.5%;
    padding-right: 6rem;
  }

  @include media("<small") {
    display: block;

    &:first-child {
      padding-bottom: 3.5rem;
      padding-left: 0;
      padding-right: 0;
      padding-top: 5rem;
      width: 100%;
    }

    &:last-child {
      padding-bottom: 5rem;
      padding-right: 0px;
      width: 100%;
    }
  }
}

.service__highlight__header {
  @extend %title__medium;
  padding: 6rem;
  @include media("<small") {
    padding-bottom: 0px;
  }
}

.service__highlight__title {
  @extend %title__40;

  @include media("<small") {
    [lang="de"] & {
      font-size: 2.8rem;
    }
  }
}

.service__highlight__subtitle {
  @extend %description__medium;

  font-size: 2.8rem;
  margin-top: 2rem;

  @include media("<small") {
    font-size: 1.4rem;
    margin-top: 1.5rem;
  }
}

.service__highlight__content {
  @extend %description__medium;

  margin-top: 4.5rem;

  p:not(:first-child) {
    margin-top: 2.5rem;
  }

  h4 {
    @extend %title__small;
    margin: 4rem 0 2.5rem 0;
    &:first-child {
      margin-top: 0;
    }
    @include media("<small") {
      font-size: 2.2rem;
    }
  }

  @include media("<small") {
    margin-top: 2.5rem;
  }
}

.service__highlight__video {
  margin-bottom: 5rem;
  position: relative;

  @include media("<small") {
    margin-bottom: 0;
  }
}

.service__highlight__video__button {
  background: $color-ecstasy;
  height: 5rem;
  font-size: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 7.7rem;

  &:after {
    border-style: solid;
    border-width: 1.05rem 0 1.05rem 1.5rem;
    border-color: transparent transparent transparent $color-white;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-25%, -50%);
    width: 0;
  }
}

.service__highlight__media {
  height: 65rem;
  position: relative;
  width: 115%;
  margin-left: -7rem;

  &:before {
    background-image: url("../images/dots-white.svg");
    background-size: 14.3rem;
    top: 7rem;
    content: "";
    height: 27rem;
    position: absolute;
    right: -4.75rem;
    width: 22rem;
  }

  @include media("<small") {
    display: none;
  }
}

.service__highlight__media__image {
  //height: 100%;
  //left: 0;
  //object-fit: cover;
  //position: absolute;
  //top: 0;
  //width: 100%;
  transform: translateY(12rem);
}
