.service__aside__newsletter {
  background: $color-deep-koamaru;
  color: $color-white;
  padding: 9rem 0;
  margin-top: 15rem;

  @include media("<small") {
    padding: 5rem 0;
    margin-top: 5rem;
  }
}

.service__aside__newsletter__wrapper {
  @extend %wrapper;
}

.service__aside__newsletter__columns {
  display: table;
  width: 100%;

  @include media("<small") {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.service__aside__newsletter__column {
  display: table-cell;
  vertical-align: middle;

  &:nth-child(1) {
    width: 70rem;
  }

  &:nth-child(2) {
    width: 70rem;
  }

  &:nth-child(3) {
    width: calc(100% - 70rem);
  }

  @include media("<small") {
    display: inline-flex;

    &:nth-child(1) {
      width: 100%;
      margin-bottom: 3.5rem;
    }

    &:nth-child(2) {
      width: 100%;
    }

    &:nth-child(3) {
      margin-top: 3.5rem;
      width: 100%;
    }
  }
}

.service__aside__newsletter__title {
  @extend %title__large;

  //max-width: 35rem;
  max-width: 60rem;
}

.service__aside__newsletter__form {
  @include media("<small") {
    width: 100%;
  }
}

.service__aside__newsletter__row {
  margin-top: 4rem;
}

.service__aside__newsletter__label {
  margin-right: 2rem;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.service__aside__newsletter__input {
  border-bottom: 1px solid $color-candlelight;
  margin-bottom: 4rem;
  color: $color-candlelight;
  display: block;
  font-family: $font-work-sans;
  font-size: 2.2rem;
  max-width: 42.5rem;
  padding-bottom: 1rem;
  transition: border 0.4s ease, color 0.4s ease;
  width: 100%;

  &--error {
    border-bottom-color: $color-razzmatazz;
    color: $color-razzmatazz;
  }

  @include media("<small") {
    font-size: 1.4rem;
  }
}

.service__aside__newsletter__radio {
  left: -99999rem;
  position: absolute;
}

.service__aside__newsletter__radio__bullet {
  color: $color-candlelight;
  border-radius: 50%;
  border-color: $color-candlelight;
  border: 1px solid;
  display: block;
  height: 3.6rem;
  margin-right: 1rem;
  position: relative;
  width: 3.6rem;
  display: inline-block;

  &:after {
    content: "";
    display: block;
    background-color: $color-candlelight;
    height: 1.5rem;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: opacity 0.4s ease;
    width: 1.5rem;
  }

  .service__aside__newsletter__radio:checked ~ & {
    &:after {
      opacity: 1;
    }
  }

  @include media("<small") {
    height: 3rem;
    width: 3rem;
  }
}

.service__aside__newsletter__radio__text {
  color: $color-candlelight;
  font-family: $font-work-sans;
  font-size: 2.2rem;

  @include media("<small") {
    font-size: 1.4rem;
  }
}

.service__aside__newsletter__button {
  @extend %button;

  margin-top: 4rem;

  @include media("<small") {
    margin-top: 2.5rem;
    width: 100%;
  }
}

.service__aside__newsletter__button__box {
  @extend %button__box;

  background: $color-deep-koamaru;
  border-color: $color-candlelight;
  color: $color-candlelight;

  .service__aside__newsletter__button:hover & {
    @extend %button__box--hover;
  }
}

.service__aside__newsletter__button__background {
  @extend %button__background;

  box-shadow: 0.4rem 0.4rem 0 $color-candlelight;
}
