.service__questions {
  margin-top: 15rem;
  @extend %wrapper;

  @include media("<small") {
    margin-top: 5rem;
  }
}

.service__questions__title {
  @extend %title__40;

  margin-bottom: 9rem;

  @include media("<small") {
    margin-bottom: 3.5rem;
  }
}

.service__questions__list {
  @extend %description__28;

  color: $color-deep-koamaru;
  list-style: none;
  margin-bottom: 10rem;

  @include media("<small") {
    margin-bottom: 5rem;
  }
}

.service__questions__item {
  &:not(:first-child) {
    margin-top: 2.5rem;
  }

  @include media("<small") {
    &:not(:first-child) {
      margin-top: 1.5rem;
    }
  }
}

.service__questions__articles {
}

.service__questions__article {
  padding-top: 5rem;
  position: relative;

  &:after {
    border-top: 1px solid $color-deep-koamaru;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform 0.4s ease;
    width: 100%;
  }

  &:not(:first-child) {
    margin-top: 3.5rem;
  }

  @include media("<small") {
    &:not(:first-child) {
      margin-top: 2rem;
    }
  }
}

.service__questions__article__title {
  @extend %description__28;
  margin-bottom: 2rem;
  display: flex;

  color: $color-birch;
  cursor: pointer;
}

.service__questions__article__content {
  padding: 0;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.service__questions__article__content__wrapper {
  background-color: $color-spring-wood;
  padding: 5rem 2.5rem;

  @include media("<small") {
    padding: 1.5rem 0.5rem;
  }
}

.service__questions__article--active + .service__questions__article__content {
  max-height: 100vh;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

.service__questions__article__description {
  @extend %content;
  @extend %description__medium;
}

.service__questions__article__link {
  @extend %description__medium;

  color: $color-deep-koamaru;
  display: inline-block;
  font-weight: bold;
  margin-top: 2.5rem;
  pointer-events: auto;

  @include media("<small") {
    margin-top: 1.5rem;
  }
}

@mixin plusMinus($width, $lineWidth, $color) {
  box-sizing: border-box;
  transition: transform 0.3s;
  width: $width;
  height: $width;
  transform: rotate(180deg);
  position: relative;

  .service__questions__article--active & {
    transform: rotate(0deg);
  }
  &::before {
    content: "";
    display: block;
    width: $width;
    height: 0px;
    border-bottom: solid $lineWidth $color;
    position: absolute;
    bottom: $width / 2 - $lineWidth/2;
    transform: rotate(90deg);
    transition: width 0.3s;
  }
  .service__questions__article--active & {
    &::before {
      content: "";
      display: block;
      width: 0px;
      height: 0px;
      border-bottom: solid $lineWidth $color;
      position: absolute;
      bottom: $width / 2 - $lineWidth/2;
      transform: rotate(90deg);
    }
  }
  &::after {
    content: "";
    display: block;
    width: $width;
    height: 0px;
    border-bottom: solid $lineWidth $color;
    position: absolute;
    bottom: $width / 2 - $lineWidth/2;
  }
}

.service__questions__article__title__arrow {
  @include plusMinus(35px, 4px, $color-deep-koamaru);
  margin-left: auto;
  pointer-events: none;
}
