.service__testimonials {
  @extend %wrapper;

  padding: 15rem 0;

  @include media("<small") {
    padding: 5rem 0;
    width: 100%;
  }
}

.service__testimonials__box {
  @extend %testimonials;
}

.service__testimonials__wrapper {
  @extend %testimonials__wrapper;
  height: 50rem;
}

.service__testimonial {
  @extend %testimonial;
}

.service__testimonial__wrapper {
  @extend %testimonial__wrapper;
  height: 50rem;
}

.service__testimonial__media {
  @extend %testimonial__media;
  &::after {
    bottom: 2rem;
  }
}

.service__testimonial__media__image {
  @extend %testimonial__media__image;
}

.service__testimonial__content {
  @extend %testimonial__content;
}

.service__testimonial__description {
  @extend %testimonial__description;
}

.service__testimonial__author {
  @extend %testimonial__author;
}

.service__testimonial__author__column {
  @extend %testimonial__author__column;
}

.service__testimonial__author__title {
  @extend %testimonial__author__title;
}

.service__testimonial__author__image {
  @extend %testimonial__author__image;
}

.service__testimonials__pagination {
  @extend %testimonials__pagination;
  transform: translateY(50%);
}

.service__testimonials__pagination__button {
  @extend %testimonials__pagination__button;

  &--active {
    @extend %testimonials__pagination__button--active;
  }
}

.service__testimonials__navigation {
  @extend %testimonials__navigation;
  transform: translateY(50%);
}

.service__testimonials__navigation__button {
  @extend %testimonials__navigation__button;

  &--next {
    @extend %testimonials__navigation__button--next;
  }

  &--previous {
    @extend %testimonials__navigation__button--previous;
  }
}
