<header class="jobs__header">
  <div class="jobs__header__background"></div>

  <div class="jobs__header__wrapper">
    <h1 class="jobs__header__title">
      {{ post.title }}
    </h1>

    <p class="jobs__header__description">
      {{ post.content | striptags }}
    </p>

    <figure class="jobs__header__media">
      <img class="jobs__header__media__image" data-src="{{ post.thumbnail.src | resize(1366) }}">

      <button class="jobs__header__media__button" data-embed-video="{{ post.get_field('header_vimeo') }}">
        Play
      </button>
    </figure>
  </div>
</header>
