<section class="industry__archive">
  <div class="industry__archive__wrapper">
    <div class="industry__archive__list">
      {% for case in cases %}
        <article class="industry__archive__case">
          <div class="industry__archive__case__media">
            <img class="industry__archive__case__image" data-src="{{ case.thumbnail.src | resize(800) }}">
          </div>

          <div class="industry__archive__case__content">
            <p class="industry__archive__case__description">
              {{ case.title }}
            </p>

            <a class="industry__archive__case__link" href="{{ case.link }}">
              {{ option[locale ~ '_read_more'] }}
            </a>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
</section>
