<section class="industry__brands">
  <div class="industry__brands__wrapper">
    <h2 class="industry__brands__title">
      {{ post.get_field('brands_title') }}
    </h2>

    <ul class="industry__brands__list">
      {% for client in option['logos'] %}
        <li class="industry__brands__item">
          <div class="industry__brands__item__wrapper">
            <img class="industry__brands__image" data-src="{{ client.image }}">
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
