<section class="industry__clients">
  <div class="industry__clients__wrapper">
    <header class="industry__clients__header">
      <h1 class="industry__clients__title">
        {{ parent.get_field('industry_clients_title') }}
      </h1>

      <p class="industry__clients__description">
        {{ parent.get_field('industry_clients_description') }}
      </p>
    </header>

    <ul class="industry__clients__list">
      {% for client in home.get_field('brands_list') %}
        <li class="industry__clients__item">
          <img class="industry__clients__image" src="{{ client.image }}">
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
