<section class="industries__brands">
  <div class="industries__brands__wrapper">
    <h1 class="industries__brands__title">{{ post.get_field('brands_title') }}</h1>

    <ul class="industries__brands__list">
      {% for brand in home.get_field('brands_list') %}
        <li class="industries__brands__item">
          <div class="industries__brands__item__wrapper">
            <img class="industries__brands__image" src="{{ brand.image }}">
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
