<aside class="clients__aside__product">
  <div class="clients__aside__product__wrapper">
    <div class="clients__aside__product__column">
      <div class="clients__aside__product__box">
        <h2 class="clients__aside__product__title">
          {{ post.get_field('aside_product_title') }}
        </h2>

        <a class="clients__aside__product__button" href="{{ post.get_field('aside_product_button').url }}">
          <div class="clients__aside__product__button__background"></div>

          <div class="clients__aside__product__button__box">
            {{ post.get_field('aside_product_button').title }}
          </div>
        </a>
      </div>
    </div>

    <div class="clients__aside__product__column">
      <div class="clients__aside__product__media" data-product-media>
        <img class="clients__aside__product__media__image" data-src="{{ post.get_field('aside_product_image') }}">
      </div>
    </div>
  </div>
</aside>
