$color-birch: #383723;
$color-black: #000;
$color-candlelight: #facb10;
$color-deep-koamaru: #17238f;
$color-ecstasy: #fb8213;
$color-mercury: #e5e5e5;
$color-razzmatazz: #ed145b;
$color-robins-egg-blue: #00c4de;
$color-spring-steel: #f2f0e4;
$color-spring-wood: #f9f8f3;
$color-white: #fff;

$font-work-sans: 'Work Sans';
$font-gt-eesti: 'GT Eesti';
$font-tiempos-headline: 'Tiempos Headline';
