<aside class="home__aside__topic">
  <div class="home__aside__topic__wrapper">
    <div class="home__aside__topic__content">
      <h2 class="home__aside__topic__title">
        {{ post.get_field('aside_topic_title') }}
      </h2>

      <a class="home__aside__topic__button" href="{{ post.get_field('aside_topic_button').url }}">
        <div class="home__aside__topic__button__background"></div>

        <div class="home__aside__topic__button__box">
          {{ post.get_field('aside_topic_button').title }}
        </div>
      </a>
    </div>

    <img class="home__aside__topic__image" data-src="{{ post.get_field('aside_topic_image') }}">
  </div>
</aside>
