<section class="about__awards">
  <div class="about__awards__wrapper">
    <h2 class="about__awards__title">
      {{ post.get_field('awards_title') }}
    </h2>

    <ul class="about__awards__list">
      {% for award in post.get_field('awards_list') %}
        <li class="about__awards__item">
          <img class="about__awards__image" data-src="{{ award.image }}">
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
