<aside class="service__aside__video">
  <div class="service__aside__video__wrapper">
    <div class="service__aside__video__column">
      <div class="service__aside__video__box">
        <h2 class="service__aside__video__title">
          {{ post.get_field('aside_video_title') }}
        </h2>

        <a class="service__aside__video__button" href="{{ post.get_field('aside_video_link').url }}">
          <div class="service__aside__video__button__background"></div>

          <div class="service__aside__video__button__box">
            {{ post.get_field('aside_video_link').title }}
          </div>
        </a>
      </div>
    </div>

    <div class="service__aside__video__column">
      <div class="service__aside__video__media" data-video-media>
        <img class="service__aside__video__media__image" data-src="{{ post.get_field('aside_video_image') | resize(1366) }}">
      </div>
    </div>
  </div>
</aside>
