<section class="videos__brands">
  <div class="videos__brands__wrapper">
    <h1 class="videos__brands__title">{{ home.get_field('brands_title') }}</h1>

    <ul class="videos__brands__list">
      {% for brand in home.get_field('brands_list') %}
        <li class="videos__brands__item">
          <img class="videos__brands__image" src="{{ brand.image }}">
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
